<header id="kopfbereich">
	<nav>
		<ul class="topnav" id="myTopnav">
			<li>
			  <a href="javascript:void(0);" class="icon">
			  	<div class="bar bar1"></div>
			  	<div class="bar bar2"></div>
			  	<div class="bar bar3"></div>
			  </a>
			</li>
			<li>
			  <a href="#" class="active">Home</a>
			</li>
			<li>
			  <a href="#">Über mich</a>
			</li>
			<li>
			  <a href="#">Blog</a>
			</li>
			<li>
			  <a href="#">Kontakt</a>
			</li>
		</ul>
	</nav>
</header>
<main id="inhaltsbereich">
	<section>
		<!-- Slideshow -->
		<div class="slideshow-container"><!-- Eine Slideshow besteht aus einzelnen Slides(=Folien). All diese Slides werden werden von einem gemeinsamen Container umgeben. Jede Folie besteht wiederum aus mehreren Elementen wie ein BiLD, Bildunterschrift usw. -->
			<div class="mySlides"><!-- Folie 1 --> 
				<img class="slideshow-image" src="assets/hero1.jpg"><!--Bild 1 -->
				<!--<div class="caption">Bildunterschrift - Bild 1</div>--><!--Bildunterschrift-->
			</div><!--Ende erste Folie -->
			<div class="mySlides"><!-- Folie 2 -->
				<img class="slideshow-image" src="assets/hero2.jpg"><!-- Bild 2 -->
				<!--<div class="caption">Bildunterschrift - Bild 2</div>--><!--Bildunterschrift-->
			</div>
			<div class="mySlides"><!--Folie 3 -->
				<img class="slideshow-image" src="assets/hero3.jpg">
				<!--<div class="caption">Bildunterschrift - Bild 3</div>--><!--Bildunterschrift-->
			</div>
			<div class="mySlides"><!--Folie 3 -->
				<img class="slideshow-image" src="assets/hero4.jpg">
				<!--<div class="caption">Bildunterschrift - Bild 3</div>--><!--Bildunterschrift-->
			</div>
			<span class="prev">&#10094;</span><!-- Linker Pfeil --> <!--Wichtig: die Pfeile nie als a-tag erstellen, denn dadurch wird auf eine neue Seute weitergeleitet und das geladene Bild verschwindet direkt wieder -->
			<span class="next">&#10095;</span><!-- Rechter Pfeil -->
		</div><!--Ende des slideshow-container -->
		<div><!-- Bullets -->
			<span></span>
			<span></span>
			<span></span>
		</div>
		<!-- Ende Slideshow -->

		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<div class="page-title">
						<h1> Projekt "DOGHANDLER" </h1>
						<h2> Ein Ziel, viele Möglichkeiten, mein Weg</h2>
						<p class="about-project">
							Hier soll der User kurz und knapp auf einen Blick erfahren, worum es bei Project Doghandler geht.
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren
						</p>
					</div>
				</div>
			</div>
		</div><!-- Ende des Bootstrap containers -->
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<div class="post">
						<div class="post-title">
							<div class="date"></div>
							<h2>Mein erster Post</h3>
						</div>
						<ul class="category">
							<li>
								Kategorie | 
							</li>
							<li class="category-name">
								Hund
							</li>
						</uL>
						<div class="post-image">
							<img src="http://via.placeholder.com/1200x400.jpg/333">
						</div>
						<div class="post-text">
							<p>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   
							</p>
						</div>
					</div>
				
					<div class="post-image-gallery">
						<img src="http://via.placeholder.com/200x180.jpg/333">
						<img src="http://via.placeholder.com/200x180.jpg/333">
						<img src="http://via.placeholder.com/200x180.jpg/333">
						<img src="http://via.placeholder.com/200x180.jpg/333">
					</div>
				</div>		
			</div>
		</div><!-- Ende des Bootstrap containers -->
	</section>


</main>
<a href="#">NACH OBEN</a>
<footer id="fussbereich">
	Dies ist ein Footer
</footer>



